<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
{% load static %}
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 网站标题 -->
    <title>404</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

</head>

<body>
<div id="app">
<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">
        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="{% url 'home:index' %}">
            <img src="{% static 'img/SHF.PNG' %}" alt="logo" style="width:40px;">
        </a>
        <div>
            <a class="navbar-brand" href="{% url 'home:index' %}">博客Blog</a>
        </div>
        <!-- 分类 -->
        <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-left">
                    {% for cat in categories %}
                        {% if cat.id == category.id %}
                            <li class="nav-item active">
                                <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>
                            </li>
                        {% else %}
                             <li class="nav-item">
                                <a class="nav-link mr-2" href="/?cat_id={{ cat.id }}">{{ cat.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

        </div>
    </div>
</nav>
<!--content-->

<div  style="height: 1080px;">
    <img style="display:block; margin:0 auto;" src="{% static 'img/404.jpg' %}" alt="">
    <br>
    <div style="text-align: center;position: absolute;left: 51%;top: 92%;">
        <a href="/" class="primaryAction btn btn-primary">👉ﾟヮﾟ)👉(👉ﾟヮﾟ)👉  返回首页  👈(ﾟヮﾟ👈)👈(ﾟヮﾟ👈)</a>
    </div>
</div>

    
<!-- Footer -->
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <h5 class="m-0 text-center text-white">Copyright @ shuhongfan</h5>
    </div>
</footer>

</div>
</body>

</html>